Port 22
PermitRootLogin no
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM no
PrintLastLog no
PrintMotd no
Subsystem sftp /usr/lib/openssh/sftp-server
